<footer class="bg-black type-white">
  <div class="container container-c container-narrow phxxl mobile-phxl pvxxxl">
    <p class="type-l type-light">
      Ellipsis helps you and your team get work done.
    </p>

    <div class="columns type-s">
      <div class="column column-one-half">
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}
        {% if page_paths %}
          <nav>
            <div>
              {% for path in page_paths %}
                {% assign my_page = site.pages | where: "path", path | first %}
                {% if my_page.title %}
                  <div>
                    <a class="link-light display-block pvs" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                  </div>
                {% endif %}
              {% endfor %}

              <div>
                <a class="link-light display-block pvs" href="https://bot.ellipsis.ai/">Sign in</a>
              </div>
            </div>
          </nav>
        {% endif %}
      </div>
      <div class="column column-one-half">

      </div>
    </div>

    <hr class="mtl" />

    <div class="columns">
      <div class="column column-one-half mobile-column-full mobile-mbm">
        <a class="display-inline-block prm align-m" href="{{ "/" | relative_url }}">
          {% include logo_shape_pink.liquid width=36 height=36 %}
        </a>
        <span class="display-inline-block align-m">&copy; {{ site.time | date: "%Y" }} Ellipsis Co.</span>
      </div>
      <div class="column column-one-half mobile-column-full align-r mobile-align-l">
        {% include twitter.liquid height="18" username="EllipsisBot" text="@EllipsisBot" class="link-light" %}
      </div>
    </div>
  </div>
</footer>
