@import "measurements";
@import "colors";
@import "fonts";
@import "page";
@import "lists";
@import "links";
@import "type";
@import "whitespace";
@import "bg";
@import "borders";
@import "boxes";
@import "position";
@import "alignment";
@import "headings";
@import "tables";
@import "columns";
@import "dimensions";
@import "rules";
@import "forms";
@import "tabs";
@import "buttons";
@import "popups";
@import "visibility";
@import "display";
@import "opacity";
@import "animation";

.photo-happy-employees {
  background-image: 
    linear-gradient(@gray-light-translucent, @gray-light-translucent),
    url(/static/images/photos/plenty_team.jpg);
  background-size: cover;
  background-position: center;
  min-height: 250px;
}

.screencast-fiix-report {
  background-repeat: no-repeat;
  background-image: linear-gradient(@gray-light, rgba(255, 255, 255, 0)),
    url(/static/images/screencasts/fiix-request-no-timestamps.gif);
  background-size: contain;
  background-position: center;
  min-height: 250px;
}

.screencast-quick-approval {
  background-repeat: no-repeat;
  background-image: linear-gradient(@gray-light-translucent, rgba(255, 255, 255, 0)),
    url(/static/images/screencasts/quick-approval.gif);
  background-size: contain;
  background-position: center;
  min-height: 250px;
}
