<a class="display-inline-block" href="{{ include.url }}" target="_blank">
  <img class="align-m" src="/assets/img/linkedin76x64.png" height="{% if include.height %}{{ include.height }}{% else %}16{% endif %}">
</a>
