---
layout: default
---
<article>
  <div class="ptxxxl">

    <div class="container container-c">
      <h1 class="type-pink">The company</h1>

      <div class="pbxxl">
        <h3>We love simple tools.</h3>

        <p>
        Humans love simple tools. The best interface is no interface.
        </p>

        <p>
        We created Ellipsis because we believe there is a better, simpler way to get your work done.
        </p>

        <p>
        Ellipsis was founded in August 2016 in Menlo Park, California and Toronto, Ontario, with the goal of creating a new kind of platform.
        </p>

      </div>
    </div>

    <div class="bg-light ptl pbxxl">
      <div class="container container-c">
        <h3 class="type-weak">Founders</h3>

        <div class="columns">
          <div class="column column-one-quarter narrow-column-one-third mobile-column-full mobile-mbxl">
            <h4 class="mbn">Matteo Melani</h4>
            <div>CEO</div>
            <div>
              <span class="mrxs">{% include twitter.liquid height="16" username="matteomelani" %}</span>
              <span class="mrxs">{% include linkedin.liquid height="16" url="https://www.linkedin.com/in/matteomelani" %}</span>
            </div>
          </div>

          <div class="column column-one-quarter narrow-column-one-third mobile-column-full mobile-mbxl">
            <h4 class="mbn">Andrew Catton</h4>
            <div>CTO</div>
            <div>
              <span class="mrxs">{% include twitter.liquid height="16" username="andrewcatton" %}</span>
              <span class="mrxs">{% include linkedin.liquid height="16" url="https://www.linkedin.com/in/andrewcatton" %}</span>
            </div>
          </div>

          <div class="column column-one-quarter narrow-column-one-third mobile-column-full mobile-mbxl">
            <h4 class="mbn">Luke Andrews</h4>
            <div>VP, Product & Design</div>
            <div>
              <span class="mrxs">{% include twitter.liquid height="16" username="attaboy" %}</span>
              <span class="mrxs">{% include linkedin.liquid height="16" url="https://www.linkedin.com/in/attaboy" %}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-lightest ptl pbxl">
      <div class="container container-c">
        <h3 class="mbxl type-weak">Investors</h3>

        <div>
          <div class="display-inline-block mrxxxl mbxl align-t">
            <a href="https://github.com/Bloomberg-Beta/Manual" target="_blank">
              <img class="" src="/assets/img/bloomberg_beta400x136.png" alt="Bloomberg Beta" width="160">
            </a>
          </div>
          <div class="display-inline-block mbxl align-t">
            <a href="http://www.fyrfly.vc/" target="_blank">
              <img class="mtm" src="/assets/img/fyrfly912x136.png" alt="Fyrfly" width="220">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="position-relative">
      <div class="columns position-absolute position-cover">
        <div class="column column-one-half mobile-column-full bg-img-responsive position-relative height-full mobile-height-half bg-bay-area">
          <div class="position-absolute position-cover bg-blue opacity-75"></div>
        </div>
        <div class="column column-one-half mobile-column-full bg-img-responsive position-relative height-full mobile-height-half bg-toronto">
          <div class="position-absolute position-cover bg-pink opacity-75"></div>
        </div>
      </div>
      <div class="container container-c position-relative position-z-above">
        <div class="columns type-white">
          <div class="column column-one-half mobile-column-full">
            <div class="ptxxxl pbxl">
              <h3>Bay Area</h3>
              <p>
                101 Jefferson Ave.<br>
                Menlo Park, California<br>
                94025<br>
                USA<br>
              </p>
            </div>
          </div>
          <div class="column column-one-half mobile-column-full plxl mobile-pln">
            <div class="ptxxxl pbxl">
              <h3>Toronto</h3>
              <p>
                545 King St. West<br>
                Toronto, Ontario<br>
                M6E 3A5<br>
                Canada<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
