---
layout: default
---
<article>
  <div class="bg-black type-white border-emphasis-bottom border-pink">
    <div class="container container-c container-narrow phxxl mobile-phxl ptxxl mobile-ptxl pbxl">
      <h1 class="mobile-mtn">Ellipsis helps your organization embed data governance into everyday work</h1>
    </div>
  </div>

  <div class="bg-light">
    <div class="container container-c container-narrow phn">
      <div class="columns columns-elastic narrow-columns-float">
        <div class="column column-one-half narrow-column-full bg-blue-lighter prn">
          <div class="container container-c container-narrow phxxl mobile-phxl ptm pbl type-l">
            <h3>Integrate all your workplace tools and data sources</h3>
            <h4 class="type-regular">Unite workplace messaging with company data using business logic you own and a consistent, reliable interface</h4>
          </div>
          <div class="pbxxl">
            <div class="container container-c container-narrow phxxl mobile-phxl">
              <div class="columns">
                <div class="column column-full narrow-column-three-quarters mobile-column-full">
                  <img src="/assets/img/screenshots/datacitizen/schematic1152x736.png" width="100%" alt="Integration points">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column column-one-half narrow-column-full bg-white prn">
          <div class="container container-c container-narrow phxxl mobile-phxl ptm type-l">
            <h3>Find the answers you need in the company chatroom</h3>
            <h4 class="type-regular">Bring data governance workflows and tools to the places where your colleagues already are</h4>
          </div>
          <div class="pbxxl">
            <div class="container container-c container-narrow phxxl mobile-phxl">
              <div class="columns">
                <div class="column column-full narrow-column-three-quarters mobile-column-full">
                  {%
                    include image_fade.liquid
                      width="100%" imageWidth="1380" imageHeight="1086"
                      url="/assets/img/screenshots/datacitizen/find_definition1380x1086.png"
                      id="find-definition"
                      title="Find definitions"
                      fadeTop=true
                  %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light">
    <div class="container container-c container-narrow phn">
      <div class="columns columns-elastic narrow-columns-float">
        <div class="column column-one-half narrow-column-full bg-white prn">
          <div class="container container-c container-narrow phxxl mobile-phxl ptm pbm type-l">
            <h3>Get work done without leaving the conversation behind</h3>
            <h4 class="type-regular">We partner with you to deliver <b>real productivity-boosting results</b> — not off-the-shelf tools</h4>
          </div>
          <div class="pbxxl">
            <div class="container container-c container-narrow phxxl mobile-phxl">
              <div class="columns">
                <div class="column column-full narrow-column-three-quarters mobile-column-full">
                  {%
                    include image_fade.liquid
                      width="100%" imageWidth="1380" imageHeight="588"
                      url="/assets/img/screenshots/datacitizen/collibra_task_1380x588.png"
                      id="tasks"
                      title="Run complex approval workflows"
                      fadeTop=true
                  %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column column-one-half narrow-column-full bg-pink-medium prn">
  <form action="//ellipsis.us14.list-manage.com/subscribe/post?u=7e90c1fb7ff3d6aab44c1c25e&amp;id=20ddfafccc"
    method="post" id="contactForm" name="mc-embedded-subscribe-form" target="_blank">

    <div class="ptm type-white">
      <div class="container container-c container-narrow phxxl mobile-phxl">
        <h3 class="mobile-mtn mbn type-regular">Talk to us</h3>
      </div>
    </div>

    <div class="pbxxl type-white">
      <div class="container container-c container-narrow phxxl mobile-phxl">
        <div class="columns mvl">
          <div class="column column-one-half narrow-column-one-half mobile-column-full mobile-mbxl">
            <h5><label for="FNAME">First name </label></h5>
            <input type="text" value="" name="FNAME" class="form-input form-input-borderless form-input-inverted" id="FNAME">
          </div>
          <div class="column column-one-half narrow-column-one-half mobile-column-full mobile-mbxl">
            <h5><label for="LNAME">Last name </label></h5>
            <input type="text" value="" name="LNAME" class="form-input form-input-borderless form-input-inverted" id="LNAME">
          </div>
        </div>

        <div class="columns mvl">
          <div class="column column-one-half narrow-column-one-half mobile-column-full mobile-mbxl">
            <h5><label for="COMPANY">Company name </label></h5>
            <input type="text" value="" name="COMPANY" class="form-input form-input-borderless form-input-inverted" id="COMPANY">
          </div>
          <div class="column column-one-half narrow-column-one-half mobile-column-full mobile-mbxl">
            <h5><label for="TITLE">Job title <span class="type-regular opacity-50">(Optional)</span></label></h5>
            <input type="text" value="" name="TITLE" class="form-input form-input-borderless form-input-inverted" id="TITLE">
          </div>
        </div>

        <div class="columns mtl mbxxl">
          <div class="column column-one-half narrow-column-one-half mobile-column-full mobile-mbxl">
            <h5><label for="EMAIL">Email address</label></h5>
            <input type="email" value="" name="EMAIL" class="form-input form-input-borderless form-input-inverted" id="EMAIL">
          </div>
          <div class="column column-one-half narrow-column-one-half mobile-column-full mobile-mbxl">
            <h5><label for="PHONE">Phone number <span class="type-regular opacity-50">(Optional)</span></label></h5>
            <input type="text" name="PHONE" class="form-input form-input-borderless form-input-inverted" value="" id="PHONE">
            <input type="hidden" value="Email" name="METHOD" id="METHOD-0">
          </div>
        </div>
        <input name="ABOUT" id="ABOUT" type="hidden" value="">

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
          name="b_7e90c1fb7ff3d6aab44c1c25e_20ddfafccc" tabindex="-1" value=""></div>
        <div>
          <button type="submit" name="subscribe" id="mc-embedded-subscribe"
          class="button button-inverted">Send contact details</button>
        </div>

        <div id="errorMessages" class="mtxl type-pink type-bold"></div>

      </div>
    </div>
  </form>

        </div>
      </div>
    </div>
  </div>

</article>

