---
layout: default
---
<article>
  <div class="bg-black type-white">
    <div class="container container-c ptxxxl pbxl">
      <h1>Ellipsis helps you and your team</h1>
      <div class="box-chat-large">…get work done</div>

      <div class="mtxxl">
        <form action="//ellipsis.us14.list-manage.com/subscribe/post?u=7e90c1fb7ff3d6aab44c1c25e&amp;id=765d3078ff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="align-m display-inline-block mbxl">
            <input type="email" value="" name="EMAIL" class="form-input form-input-inverted form-input-l form-input-with-button width-10" placeholder="Your email" required>
          </div>
          <div class="align-m display-inline-block mrxl mbxl">
            <div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text" name="b_7e90c1fb7ff3d6aab44c1c25e_6ad5b3cc3f" tabindex="-1" value=""></div>
            <button type="submit" name="subscribe" class="button-with-form-input button-primary button-l phxl">
              Get an invite
            </button>
          </div>
          <div class="align-m display-inline-block mbxl">
            <button type="button" class="button-inverted button-l">
              Talk to us
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="bg-pink-medium">
    <div class="container container-c pvxxl type-l type-white">
      <h3 class="mvn">
        <span class="type-bold">Ellipsis answers questions and performs tasks in chat </span>
        <span class="type-regular">by connecting the people, applications, and data you depend on.</span>
      </h3>
    </div>
  </div>

  <div class="bg-white">
    <div class="container container-c ptxxxl pbm type-l">
      <h3 class="type-pink">
        Get the answers you need <span class="type-black type-regular">where you need them the most.</span>
      </h3>
    </div>
  </div>
  <div class="bg-white pbxxl">
    <div class="container container-c">
      <div class="columns">
        <div class="column column-one-half narrow-column-two-thirds mobile-column-full">
          {%
            include image_fade.liquid
              width="100%" imageWidth="1060" imageHeight="260"
              url="/assets/img/screenshots/calendar1060x260.png"
              id="calendar"
              title="Ellipsis tells you what’s on your calendar today"
          %}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-blue-lighter">
    <div class="container container-c ptxxxl pbm type-l">
      <h3 class="type-pink">
        Add helpful workflows <span class="type-black type-regular">in a few seconds.</span>
      </h3>
    </div>
  </div>
  <div class="bg-blue-lighter pbxxl">
    <div class="container container-c">
      {%
        include image_fade.liquid
          width="100%" imageWidth="2362" imageHeight="1166"
          url="/assets/img/screenshots/install_skills2362x1166.png"
          id="install"
          title="Install skills published by Ellipsis"
      %}
    </div>
  </div>

  <div class="bg-lightest">
    <div class="container container-c ptxxxl pbm type-l">
      <h3 class="type-pink">
        Customize workflows <span class="type-black type-regular">to work the way you want.</span>
      </h3>
    </div>
  </div>
  <div class="bg-lightest pbxxl">
    <div class="container container-c">
      {%
        include image_fade.liquid
          width="100%" imageWidth="1824" imageHeight="1100"
          url="/assets/img/screenshots/triggers1824x1100.png"
          id="triggers"
          title="Tweak how skills work easily"
      %}
    </div>
  </div>

  <div class="bg-white">
    <div class="container container-c ptxxxl pbm type-l">
      <h3 class="type-pink">
        Build and test powerful tools <span class="type-black type-regular">backed by Node.js and npm.</span>
      </h3>
    </div>
  </div>
  <div class="bg-white ">
    <div class="container container-c">
      {%
        include image_fade.liquid
          width="100%" imageWidth="2444" imageHeight="1256"
          url="/assets/img/screenshots/editor2444x1256.png"
          id="editor"
          title="Edit skills at the source-code level"
      %}
    </div>
  </div>
</article>

