@import (reference) "colors";

.button-with-form-input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  min-width: 0 !important;
}

button.button-l, a.button-l {
  font-size: 1.2222rem;
  line-height: 32px;
  min-width: 240px;
  border-width: 2px;
  border-radius: 12px;
  font-weight: 600;
  padding-top: 12px;
  height: 56px;
}

button.button-black {
  background-color: @almost-black;
  border-color: @almost-black;
  color: @white;
}

button.button-black:hover {
  background-color: @black;
}

button.button-black:focus {
  border-color: @black;
}

button.button-inverted, a.button-inverted {
  border-color: @white !important;
  color: @white;
}

button.button-inverted:hover, a.button-inverted:hover {
  background-color: @white-subtle;
}

button.button-inverted:focus, a.button-inverted:focus {
  border-width: 4px;
  padding-top: 10px;
}

button.button-primary[disabled] {
  background-color: @blue-medium;
}
