html {
  font-size: 18px !important;
  line-height: 24px !important;
}

@font-face {
  font-family: 'Grota Sans Rounded';
  src: url('./fonts/grotasansrd-regular-webfont.eot');
  src: url('./fonts/grotasansrd-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/grotasansrd-regular-webfont.woff2') format('woff2'),
       url('./fonts/grotasansrd-regular-webfont.woff') format('woff'),
       url('./fonts/grotasansrd-regular-webfont.ttf') format('truetype'),
       url('./fonts/grotasansrd-regular-webfont.svg#grota_sans_rdregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grota Sans Rounded';
  src: url('./fonts/grotasansrd-bold-webfont.eot');
  src: url('./fonts/grotasansrd-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/grotasansrd-bold-webfont.woff2') format('woff2'),
       url('./fonts/grotasansrd-bold-webfont.woff') format('woff'),
       url('./fonts/grotasansrd-bold-webfont.ttf') format('truetype'),
       url('./fonts/grotasansrd-bold-webfont.svg#grota_sans_rdbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

body, input, select, textarea, button {
  font-family: 'Grota Sans Rounded', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
}

.container-small {
  max-width: 29rem;
}

.form-input-borderless:focus {
  border-color: transparent;
}

.bg-white-translucent {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.form-input {
  font-size: 16px;
}
